<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>
    html {
        zoom: 0.7;
    }
    body {
        /* margin: 25px; */
        font-size: 14px;
        line-height: 16px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #333;
    }
    .container {
        max-width: 1000px;
        /* height: 700px; */
        margin: auto;
    }
    
    .table-border {
        border: solid 1px #000000;
    }
    table.table-border {
        border-collapse: collapse;
    }
    .table-border td {
        border: solid 1px #000000;
        border-right: 0px;
        border-left: 0px;
    }

    table, tr, td {
        border: 0;
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    .text-right {
        text-align: right;
    }
    .mt-0 {
        margin-top: 0px;
    }
    .w-50 {
        width: 50%;
    }
    @media print {
        .new-page {
            page-break-before: always;
        }
    }

    </style>
</head>

<body>
    <div class="container">
        {{body}}
        <!-- <table class="new-page" cellpadding="0" cellspacing="0" style="padding: 40px 0 0 0;">
            <tr>
                <td style="width:35%;" valign="top">
                    <h2 class="mt-0" style="margin-bottom: 0px;">213automotive</h2>
                </td>
                <td style="width:35%;" valign="top" align="center">
                    <h2 class="mt-0" style="margin-bottom: 0px;">Auto Union Warranties Ltd.</h2>
                </td>
                <td style="width:30%;" valign="top" align="center">
                    <h2 class="mt-0" style="margin-bottom: 0px;">Invoice No: AUINC6802</h2>
                </td>
            </tr>
            <tr>
                <td style="width:35%;" valign="top">
                    213 Automotive, Unit B3, Harcourt Bumpers Estate
                </td>
                <td style="width:35%;" valign="top" align="center">
                    Bumpers Lane, Sealand Industrial Estate,
                </td>
                <td style="width:30%;" valign="top">
                    
                </td>
            </tr>
            <tr>
                <td style="width:35%;" valign="top">
                    Telford 
                </td>
                <td style="width:35%;" valign="top" align="center">
                    Chester, CH1 4LT
                </td>
                <td style="width:30%;" valign="top" align="center">
                    <b>Date: 24-07-2020</b>
                </td>
            </tr>
        </table>
        
        <table class="table-border" cellpadding="4" cellspacing="4" style="margin: 20px 0 0 0;">
            <tr>
                <td style="width:10%;" align="center">
                    <b>Agreement</b>
                </td>
                <td style="width:10%;" align="center">
                    <b>Make</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Model</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>CC</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Surname</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Cover</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Claim</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Months</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Net</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Admin</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Vat</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Gross</b>
                </td>
            </tr>
            <tr>
                <td style="width:10%;" align="center">
                    <b>Agreement</b>
                </td>
                <td style="width:10%;" align="center">
                    <b>Make</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Model</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>CC</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Surname</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Cover</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Claim</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Months</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Net</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Admin</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Vat</b>
                </td>
                <td style="width:8%;" align="center">
                    <b>Gross</b>
                </td>
            </tr>
        </table>
        <table cellpadding="4" cellspacing="4" style="padding: 8px 0 0 0;">
            <tr>
                <td style="width:100%;" align="right">
                    VAT on Admin 20.00%<br>
                </td>
            </tr>
        </table> -->

    </div>
    
    <div id="pageFooter">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:100%;" align="center">
                    Cheques payable to Auto Union Warranties Ltd, to be paid within 14 days of the date of this invoice.
                </td>
            </tr>
            <tr>
                <td style="width:100%;" align="center">
                    Bank Details- Sort Code: 30-95-96 Account Number: 20888260
                </td>
            </tr>
            <tr>
                <td style="width:100%;" align="center">
                    Company Reg No: 10332077, VAT Registration Number: 249273287
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
